{% extends 'header.html' %}

{% block title %} Home {% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                <small><sup>x</sup></small>
            </button>
            {{message}}
        </div>    
    {% endfor %}
{% endif %}

<table class="table">
<thead>
    <tr>
    <th scope="col">Item</th>
    <th scope="col">Completed</th>
    <th scope="col">Action</th>
    </tr>
</thead>
<tbody>
    {% if todo_lists %}
        {% for i in todo_lists %}
            {% if i.completed %}
                <tr class="table-secondary">
                    <td class="strike"> <a href="{% url 'edit' i.id %}">{{ i.item }}</a> </td>
                    <td><a href="{% url 'updatestatus' i.id 0 %}"> {{ i.completed }} </a></td>
                    <td><a href="{% url 'delete' i.id %}">Delete</a></td>
                </tr>   
            {% else %}
                <tr>
                    <td> <a href="{% url 'edit' i.id %}">{{ i.item }}</a> </td>
                    <td><a href="{% url 'updatestatus' i.id 1 %}"> {{ i.completed }} </a></td>
                    <td><a href="{% url 'delete' i.id %}">Delete</a></td>
                </tr>   
            {% endif %}
        {% endfor %}
    
    {% endif %}
</tbody>
</table>
{% endblock %}